<html>
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <div class="container">
            <h1>Listing Posts</h1>
            <sections>
            {{#posts}}
              <h2>{{title}}</h2>
              <datetime>{{created_at}}</datetime>
              <p>{{body}}<p>
            {{/posts}}
            </sections>
        </div>
    </body>
</html>