<html>
  <head>
    <title>Clojure Blog</title>
  </head>
  <body>
    <div class="container">
      <h1>Listing Post</h1>
      <sections>
        <h2>{{title}}</h2>
        <datetime>{{created_at}}</datetime>
        <p>{{body}}<p>
        <p>
          <a href="/admin/posts/{{id}}/edit">Edit</a>
          <a href="/admin/posts/{{id}}/delete">Delete</a>
        </p>
      </sections>
    </div>
  </body>
</html>